.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5lh;

  & input {
    text-align: center;
  }

  & .table {
    & .grid {
      grid-template-columns: repeat(7, 1fr);

      & .cell {
        text-align: end;
        line-height: 1;
        padding: 1ex;

        &:nth-child(7n + 1) {
          border-inline-start: none;
        }
      }
    }
  }
}
