.calendar {
  --gap-cal: 1ex;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5lh;

  & input {
    text-align: center;
  }
}

.table {
  .grid.week {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid.month {
    grid-template-rows: repeat(6, max-content);
  }

  .grid.cell {
    grid-template-rows: repeat(2, max-content);
    text-align: end;
    line-height: 1;

    &:nth-child(7n + 1) {
      border-inline-start: none;
    }

    > * {
      padding: var(--gap-cal);

      &:last-child {
        padding-bottom: calc(var(--gap-cal) * 2);
      }
    }
  }
}

.agenda {
  gap: var(--gap-cal);
  align-items: start;
  max-height: 50vh;
  overflow-y: auto;

  .skipped {
    color: gray;
  }

  .grid {
    grid-template-columns: 1fr auto;
    grid-template-areas: "name input" "interval input";
    gap: 0 var(--gap-cal);
    margin-top: var(--gap-cal);

    &:first-child {
      margin-top: 0;
    }
  }

  & input {
    grid-area: input;
  }
}
